* {
  padding: 0;
  margin: 0; }

.container {
  max-width: 90%;
  margin: 0 auto; }

img {
  max-width: 100%;
  height: auto; }

ul {
  list-style: none; }

ul li {
  display: inline-block; }

a {
  text-decoration: none; }

header {
  padding-top: 25px;
  height: 800px;
  background-image: url(../img/home-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  header nav {
    display: flex;
    align-items: center; }
  header ul {
    color: white;
    margin-left: auto; }
  header li {
    padding-left: 35px;
    text-transform: capitalize;
    font-size: 16px;
    font-family: monospace; }
  header .header__section-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .header__section-info {
    width: 36%; }
  header h1 {
    font-size: 58px;
    color: white;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bold; }
  header p {
    color: white;
    line-height: 24px;
    font-family: monospace;
    font-size: 15px;
    padding: 20px 0px; }
  header .header__section-photo {
    width: 22%;
    margin-top: 90px; }
  header button {
    margin-top: 20px;
    padding: 15px;
    width: 12rem;
    text-transform: capitalize;
    border-radius: 5px;
    border: none; }

.features {
  padding: 8rem 0px;
  font-family: monospace; }
  .features section {
    text-align: center;
    margin: auto;
    width: 50%;
    padding-bottom: 60px; }
  .features h2 {
    text-transform: capitalize;
    font-size: 30px;
    padding-bottom: 20px; }
  .features .features__info {
    display: flex;
    justify-content: space-between; }
  .features .features__info-item {
    width: 18%;
    padding: 40px 30px;
    box-shadow: 0px 0px 20px 0px #efeded; }
  .features figure {
    padding-bottom: 20px; }
  .features h3 {
    font-size: 20px;
    padding-bottom: 20px; }
  .features p {
    line-height: 22px;
    font-size: 15px;
    color: gray; }

/****************************************************/
.product__one {
  background-color: #f9faff;
  padding: 4rem 0rem; }
  .product__one .product__one-contain {
    display: flex;
    justify-content: space-between; }
  .product__one figure {
    width: 45%; }
  .product__one .product__one-info {
    width: 45%; }
  .product__one h2 {
    font-family: monospace;
    font-size: 2rem;
    text-transform: capitalize;
    line-height: 40px;
    padding-bottom: 2rem;
    padding-top: 3rem; }
  .product__one p {
    color: gray;
    font-family: sans-serif;
    line-height: 22px;
    font-size: 15px;
    padding-bottom: 3rem; }
  .product__one button {
    padding: 15px;
    width: 10rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    background-image: linear-gradient(to right, #b92cff, #7647fb); }

/****************************************************/
.product__two {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0rem; }
  .product__two .product__two-info {
    width: 45%;
    margin-left: 6rem; }
  .product__two figure {
    width: 45%; }
  .product__two h2 {
    font-family: monospace;
    font-size: 2rem;
    text-transform: capitalize;
    line-height: 40px;
    padding-bottom: 2rem;
    padding-top: 3rem; }
  .product__two p {
    color: gray;
    font-family: sans-serif;
    line-height: 22px;
    font-size: 15px;
    padding-bottom: 3rem; }
  .product__two button {
    padding: 15px;
    width: 10rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    background-image: linear-gradient(to right, #b92cff, #7647fb); }

.vedio__section {
  position: relative; }
  .vedio__section img {
    width: 100%; }
  .vedio__section .vedio__section-icon {
    position: absolute;
    top: 40%;
    right: 50%; }
  .vedio__section i {
    color: white;
    font-size: 5rem; }

.pricing__table {
  background-color: #f9faff;
  padding: 6rem 0rem; }
  .pricing__table .pricing__table-header {
    text-align: center;
    max-width: 50%;
    margin: auto;
    padding-bottom: 5rem; }
  .pricing__table h1 {
    text-transform: capitalize;
    font-size: 30px;
    padding-bottom: 20px;
    font-family: monospace; }
  .pricing__table p {
    color: gray;
    font-family: sans-serif;
    font-size: smaller;
    line-height: 20px; }
  .pricing__table .pricing__table-items {
    display: flex;
    justify-content: space-between; }
  .pricing__table .text__item {
    font-family: system-ui;
    font-weight: 600;
    font-size: 25px;
    font-weight: 400; }
  .pricing__table .pricing__table-item {
    background-color: white;
    width: 32%;
    text-align: center; }
  .pricing__table .header__table {
    display: flex;
    padding: 40px;
    border-bottom: 1px solid #d1d0d0; }
  .pricing__table .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .pricing__table .text p {
      font-size: 11px; }
  .pricing__table .count {
    margin-left: auto;
    font-weight: 700;
    font-size: xx-large; }
  .pricing__table ul {
    display: flex;
    flex-direction: column; }
  .pricing__table li {
    padding-top: 20px;
    color: gray;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: smaller; }
  .pricing__table button {
    padding: 15px;
    width: 10rem;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    margin: 40px 0px; }

.screenshots .screenshots__header {
  text-align: center;
  max-width: 50%;
  margin: auto;
  padding-bottom: 5rem;
  padding-top: 3rem; }

.screenshots h1 {
  text-transform: capitalize;
  font-size: 30px;
  padding-bottom: 20px;
  font-family: monospace; }

.screenshots p {
  color: gray;
  font-family: sans-serif;
  font-size: smaller;
  line-height: 20px; }

.screenshots .screenshots__photos {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6rem; }

.screenshots figure {
  width: 24%; }

.testmonials {
  background-color: #f9faff;
  padding-bottom: 6rem; }
  .testmonials .testmonials__header {
    text-align: center;
    max-width: 50%;
    margin: auto;
    padding-bottom: 5rem;
    padding-top: 5rem; }
    .testmonials .testmonials__header h1 {
      text-transform: capitalize;
      font-size: 30px;
      padding-bottom: 20px;
      font-family: monospace; }
    .testmonials .testmonials__header p {
      color: gray;
      font-family: sans-serif;
      font-size: smaller;
      line-height: 20px; }
  .testmonials .testmonials__items {
    display: flex;
    justify-content: space-evenly; }
    .testmonials .testmonials__items .testmonials__item {
      display: flex;
      padding: 2rem;
      width: 40%;
      background-color: white; }
      .testmonials .testmonials__items .testmonials__item figure {
        width: 32%;
        margin-right: 22px; }
      .testmonials .testmonials__items .testmonials__item p {
        color: #a3a1a1;
        line-height: 22px; }
      .testmonials .testmonials__items .testmonials__item h3 {
        font-weight: 600;
        font-family: sans-serif;
        padding: 10px 0px 15px 0px;
        text-transform: capitalize; }

.download__container {
  background-image: linear-gradient(to right, #b92cff, #7647fb);
  padding: 6rem 0px;
  color: white; }
  .download__container .download {
    margin: auto;
    width: 55%;
    text-align: center; }
    .download__container .download h3 {
      font-family: system-ui;
      padding-bottom: 1rem;
      text-transform: capitalize;
      font-size: 2rem;
      letter-spacing: 1px; }
    .download__container .download .download__p {
      font-family: system-ui;
      font-size: 15px;
      line-height: 25px;
      padding-bottom: 2rem; }
  .download__container .download__icon {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
    width: 60%; }
    .download__container .download__icon a {
      color: white;
      display: flex;
      border: 1px solid white;
      padding: 15px;
      width: 40%;
      border-radius: 5px;
      justify-content: space-around; }
      .download__container .download__icon a i {
        font-size: 40px; }
      .download__container .download__icon a .download__icon-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        .download__container .download__icon a .download__icon-text span {
          font-family: cursive;
          font-weight: 400;
          font-size: x-large; }

.latest__news {
  padding: 6rem 0rem; }
  .latest__news .latest__news-header {
    text-align: center;
    max-width: 50%;
    margin: auto;
    padding-bottom: 5rem; }
    .latest__news .latest__news-header h1 {
      text-transform: capitalize;
      font-size: 30px;
      padding-bottom: 20px;
      font-family: monospace; }
    .latest__news .latest__news-header p {
      color: gray;
      font-family: sans-serif;
      font-size: smaller;
      line-height: 20px; }
  .latest__news .latest__news-items {
    display: flex;
    justify-content: space-between; }
    .latest__news .latest__news-items .latest__news-item {
      background-color: #f9faff;
      width: 27%;
      padding: 30px; }
      .latest__news .latest__news-items .latest__news-item button {
        background-color: white;
        border: 1px solid #cccbcb;
        padding: 7px;
        width: 7rem;
        color: #9f9d9b;
        margin: 2rem 0px; }
      .latest__news .latest__news-items .latest__news-item h3 {
        font-family: sans-serif;
        font-size: 22px;
        padding-bottom: 1rem; }
      .latest__news .latest__news-items .latest__news-item p {
        font-family: system-ui;
        color: gray;
        padding-bottom: 2rem; }
        .latest__news .latest__news-items .latest__news-item p i {
          padding-right: 10px; }
        .latest__news .latest__news-items .latest__news-item p .icon {
          padding-left: 15px; }

footer {
  background-color: #1a1919;
  color: #cccbcb;
  padding: 8rem 0px; }
  footer .footer__contain {
    display: flex; }
  footer h4 {
    font-size: 20px;
    color: white;
    padding-bottom: 2rem;
    font-family: sans-serif;
    text-transform: uppercase; }
  footer .product {
    width: 30%; }
    footer .product ul {
      display: flex;
      flex-direction: column; }
      footer .product ul li {
        padding: 10px  0px;
        font-family: system-ui;
        text-transform: capitalize; }
  footer .sletter {
    width: 50%; }
    footer .sletter p {
      padding-bottom: 2rem;
      font-family: cursive; }
    footer .sletter input {
      width: 60%;
      padding: 10px;
      border-radius: 20px;
      border: none; }
    footer .sletter button {
      background-image: linear-gradient(to right, #b92cff, #7647fb);
      border: none;
      padding: 10px;
      border-radius: 20px;
      width: 20%;
      margin-left: -2rem;
      color: white; }
  footer .insta {
    width: 23%; }
    footer .insta .group__one {
      display: flex;
      justify-content: space-between; }
    footer .insta .group__two {
      display: flex;
      justify-content: space-between; }
  footer .footer__nav {
    display: flex;
    padding-top: 6rem; }
    footer .footer__nav span {
      text-transform: capitalize;
      color: #7647fb; }
    footer .footer__nav ul {
      margin-left: auto; }
      footer .footer__nav ul li {
        padding-left: 15px; }
